<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Raveum 101</title>
    <link rel="icon" href="/public/images/favicon.png" type="image/png">
    <link href="../public/css/raveum101.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex-theme-wireframe.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/js/vex.combined.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 
</head>
<body>
<nav class="navbar" style="background-color: #E9ECF5;" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Home Page
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasic" class="navbar-menu">
        <div class="navbar-start">
            <a href="/user/profile" class="navbar-item">
                Profile
            </a>
            <a href="/user/raveum101" class="navbar-item">
                Raveum 101
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <form action="/user/logout?_method=DELETE" method="POST">
                    <button type="submit" class="button is-small is-info">Log Out</button>
                </form>
            </div>
        </div>
    </div>
</nav>
<div class="main-content" id="body">
    <div class="dashboard-container">
        <div class="blog-section">
            <h1>Welcome to Raveum: A Guide for Operators</h1>
            
            <h2>Introduction</h2>
            <p>Welcome to the Raveum family! As an operator, you play a pivotal role in democratizing access to real estate investment. By connecting potential investors with opportunities previously reserved for a select few, you're not just a part of our team; you're at the forefront of a financial revolution. This guide is your roadmap to navigating the Raveum platform, engaging with clients, and maximizing your success.</p>
            
            <h2>How to Use This Page</h2>
            <h3>Register Clients Section</h3>
            <p>This is where your journey begins. Follow these steps to seamlessly onboard your clients:</p>
            <ol>
                <li><strong>Access the Registration Portal</strong>: Use the "Register Clients" section on your dashboard.</li>
                <li><strong>Client Information</strong>: Enter your client's details. Our form is designed to be straightforward and only asks for essential information to get started.</li>
                <li><strong>Confirm and Submit</strong>: Review the information with your client for accuracy, then submit. Congratulations, you've onboarded a new client!</li>
            </ol>
            
            <h3>Profile Section</h3>
            <p>Your unique Raveum code (e.g., RAVE-1234) is your key to tracking and commissions:</p>
            <ol>
                <li><strong>Locate Your Raveum Code</strong>: Find this in the "Profile" section. It's not just an ID; it's your ticket to rewards.</li>
                <li><strong>Referrals</strong>: Share your Raveum code when referring new operators. It's how we ensure you're credited for expanding our network.</li>
            </ol>
            
            <h3>Raveum 101 Section</h3>
            <p>Dive into the essence of Raveum:</p>
            <ul>
                <li><strong>Platform Overview</strong>: Understand our mission, technology, and how we're changing the real estate investment landscape.</li>
                <li><strong>Investment Basics</strong>: A primer on real estate investment for guiding your conversations with potential clients.</li>
                <li><strong>Pitching Guide</strong>: Tailored strategies for communicating with diverse client segments.</li>
            </ul>
            
            <h2>Pitching Raveum: Strategies and Benefits</h2>
            <h3>Friends and Family</h3>
            <p>Start with the basics: Raveum offers a simple, affordable entry into real estate investment. Highlight the personal connection and trust in your recommendation. Emphasize the ease of starting and the long-term benefits of portfolio diversification.</p>
            
            <h3>Clients by Class</h3>
            <h4>Lower-Income Clients</h4>
            <p>Focus on accessibility:</p>
            <ul>
                <li><strong>Affordable Entry</strong>: Minimum investment thresholds are low, making it feasible for almost anyone to start.</li>
                <li><strong>American Dream</strong>: Access to U.S. real estate markets was never this straightforward and cost-effective.</li>
            </ul>
            
            <h4>Middle-Class Clients</h4>
            <p>Data is your ally:</p>
            <ul>
                <li><strong>Market Performance</strong>: Share insights on historical returns and how Raveum positions them for success.</li>
                <li><strong>Tech-Driven</strong>: Our platform makes managing and diversifying investments straightforward, with tools designed for ease and efficiency.</li>
            </ul>
            
            <h4>High-Net-Worth Individuals (HNIs)</h4>
            <p>Tailor the pitch to emphasize exclusivity and strategic growth:</p>
            <ul>
                <li><strong>Premium Investments</strong>: Access to high-value, exclusive real estate opportunities.</li>
                <li><strong>Portfolio Diversification</strong>: Discuss the importance of geographic and asset diversification in wealth preservation.</li>
            </ul>
            
            <h2>Leveraging Your Network for Success</h2>
            <h3>Referring New Operators</h3>
            <p>- <strong>Use Your Raveum Code</strong>: Share it when introducing peers to Raveum. It's how we track referrals and ensure you're rewarded.</p>
            <p>- <strong>Highlight Benefits</strong>: Commission structure, support, and being part of an innovative platform.</p>
    
            <h3>Building a Client Base</h3>
            <p>- <strong>Identify Prospects</strong>: Utilize both personal and professional networks. Look for those expressing interest in investment or dissatisfaction with current options.</p>
            <p>- <strong>Customize Your Approach</strong>: Use the insights from the "Raveum 101" section to tailor your pitch based on the client's background and investment capacity.</p>
            <p>- <strong>Follow-Up</strong>: Persistence is key. Keep the conversation going, offering new information and assistance as they consider their decision.</p>
            
            <h2>Conclusion</h2>
            <p>Your journey with Raveum is not just about facilitating investments; it's about creating opportunities, building wealth, and changing lives. This guide is your first step. With the tools and strategies outlined here, you're well-equipped to succeed and grow within the Raveum ecosystem. Welcome aboard, and here's to our mutual success!</p>        
        </div>
        <div class="sidebar">
            <div class="download-card">
                <b>Universal Content:</b>
                <ul>
                    <li><a href="#" download>Attachment 1</a></li>
                    <li><a href="#" download>Attachment 2</a></li>
                    <!-- Add more attachments as needed -->
                </ul>
            </div>
            <div class="download-card">
                <b>Tier 1 Content:</b>
                <ul>
                    <li><a href="#" download>Attachment 1</a></li>
                    <li><a href="#" download>Attachment 2</a></li>
                    <!-- Add more attachments as needed -->
                </ul>
            </div>
            <div class="download-card">
                <b>Tier 2 Content:</b>
                <ul>
                    <li><a href="#" download>Attachment 1</a></li>
                    <li><a href="#" download>Attachment 2</a></li>
                    <!-- Add more attachments as needed -->
                </ul>
            </div>
            <div class="download-card">
                <b>Tier 3 Content:</b>
                <ul>
                    <li><a href="#" download>Attachment 1</a></li>
                    <li><a href="#" download>Attachment 2</a></li>
                    <!-- Add more attachments as needed -->
                </ul>
            </div>
            <div class="download-card">
                <b>Tier 4 Content:</b>
                <ul>
                    <li><a href="#" download>Attachment 1</a></li>
                    <li><a href="#" download>Attachment 2</a></li>
                    <!-- Add more attachments as needed -->
                </ul>
            </div>
            <div class="download-card">
                <b>Tier 5 Content:</b>
                <ul>
                    <li><a href="#" download>Attachment 1</a></li>
                    <li><a href="#" download>Attachment 2</a></li>
                    <!-- Add more attachments as needed -->
                </ul>
            </div>
            <div class="download-card">
                <b>Tier 6 Content:</b>
                <ul>
                    <li><a href="#" download>Attachment 1</a></li>
                    <li><a href="#" download>Attachment 2</a></li>
                    <!-- Add more attachments as needed -->
                </ul>
            </div>
            <div class="question-card">
                <h3>Have a Question?</h3>
                <br>
                <form id="questionForm">
                    <textarea placeholder="Type your question here..."></textarea>
                    <button type="submit">Send Question</button>
                    <button type="button" id="anotherQuestion" style="display:none;">Send Another Question</button>
                </form>
            </div>
        </div>
    </div>  
</div>
<footer class="footer" style="background-color: #F6F9FF; color: #111928; padding: 20px 0;">
    <div class="content">
      <div class="container footer-responsive" style="display: flex; justify-content: start; align-items: center;">
        <div style="flex-grow: 1; display: flex; align-items: center;">
          <img src="../public/images/favicon.png" alt="Raveum Logo" style="max-height: 40px;">
          <p style="color: #111928; margin-left: 10px; margin-bottom: 0; font-size: 18px">Raveum</p>
        </div>
        <div style="flex-grow: 2; text-align: right;">
            <span class="footer-location">
              <span class="icon">
                <i class="fas fa-map-marker-alt"></i>
              </span>
              254 Chapman Road, 16526, Newark, DE 19702
              <br>
            </span>
            <span class="footer-email">
              <span class="icon" style="vertical-align: middle;">
                <i class="fas fa-envelope"></i>
              </span>
              <a href="mailto:support@raveum.com" style="color: #111928; vertical-align: middle; margin-left: 5px;">support@raveum.com</a>
            </span>
          </div>
      </div>
    </div>
</footer>
<script src="../public/js/raveum101.js"></script>
</body>
</html>
