<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Operator Registration</title>
    <link rel="icon" href="/public/images/favicon.png" type="image/png">
    <link href="../public/css/register.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.21/vanta.globe.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex-theme-wireframe.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-wireframe';</script>
</head>
<body>
    <nav class="navbar" style="justify-content: center; background-color: #F6F9FF;"role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="../public/images/logoNameNoBackground.png" alt="Logo">
            </a>
        </div>
      </nav>
    <div class="main-content">
    <% if (messages.accessDenied) { %>
        <script>
            window.onload = function() {
            vex.dialog.confirm({
                message: '<%= messages.accessDenied %>',
                buttons: [
                    $.extend({}, vex.dialog.buttons.YES, { text: 'Try Again' }),
                    $.extend({}, vex.dialog.buttons.NO, { text: 'Linkedin' })
                ],
                callback: function (value) {
                    if (value) {
                        window.location.href = '/user/register';
                    } else {
                        window.location.href = 'https://www.linkedin.com/company/raveum';
                    }
                }
            })
            };
        </script>
    <% } %>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                    <form action="/user/register" method="POST" class="box">
                        <h1 class="title has-text-centered">Operator Registration</h1>
                        
                        <% if (messages.error && messages.error.length > 0) { %>
                            <div class="notification is-danger">
                                <%= messages.error %>
                            </div>
                        <% } %>
                        
                        <div class="field">
                            <label for="firstName" class="label">First Name</label>
                            <div class="control">
                                <input type="text" id="firstName" name="firstName" class="input" required>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label for="lastName" class="label">Last Name</label>
                            <div class="control">
                                <input type="text" id="lastName" name="lastName" class="input" required>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label for="email" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input type="email" id="email" name="email" class="input" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label for="password" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input type="password" id="password" name="password" class="input" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="accessCode" class="label">Access Code</label>
                            <div class="control">
                                <input type="text" id="accessCode" name="accessCode" class="input" required>
                            </div>
                        </div>                        
                        
                        <div class="field" id="brokerReferralField" style="display:none;">
                            <label for="referredCode" class="label">Operator Referral Code:</label>
                            <div class="control">
                                <input type="text" id="referredCode" name="referredCode" class="input">
                            </div>
                        </div>
                        
                        <div class="field has-text-centered">
                          <br>
                          <button type="button" id="brokerReferralBtn" class="button is-link is-light">I have an operator referral code</button>
                        </div>
                        
                        <div class="field">
                          <br>
                            <button type="submit" class="button is-info is-fullwidth">Register</button>
                        </div>
                    </form>
                    <p class="has-text-centered">
                        <a href="/user/login">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    </div>
    <footer class="footer" style="background-color: #F6F9FF; color: #111928; padding: 20px 0;">
        <div class="content">
          <div class="container footer-responsive" style="display: flex; justify-content: start; align-items: center;">
            <div style="flex-grow: 1; display: flex; align-items: center;">
              <img src="../public/images/favicon.png" alt="Raveum Logo" style="max-height: 40px;">
              <p style="color: #111928; margin-left: 10px; margin-bottom: 0; font-size: 18px">Raveum</p>
            </div>
            <div style="flex-grow: 2; text-align: right;">
                <span class="footer-location">
                  <span class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </span>
                  254 Chapman Road, 16526, Newark, DE 19702
                  <br>
                </span>
                <span class="footer-email">
                  <span class="icon" style="vertical-align: middle;">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <a href="mailto:support@raveum.com" style="color: #111928; vertical-align: middle; margin-left: 5px;">support@raveum.com</a>
                </span>
              </div>
          </div>
        </div>
      </footer>   
    </div>
    <script src="../public/js/register.js"></script>
</body>
</html>
